
body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
     height: 100vh;
     justify-content: center;
     background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3537819c-d1fa-4211-8e07-c0ceecf2c148/de99hh6-db575cd0-03a9-4436-9e80-80463902a508.jpg/v1/fill/w_1024,h_640,q_75,strp/182_1820029_46_beautiful_anime_wallpapers_in_high__by_neonn20_de99hh6-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjQwIiwicGF0aCI6IlwvZlwvMzUzNzgxOWMtZDFmYS00MjExLThlMDctYzBjZWVjZjJjMTQ4XC9kZTk5aGg2LWRiNTc1Y2QwLTAzYTktNDQzNi05ZTgwLTgwNDYzOTAyYTUwOC5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.nDqDuxqdTMl1iFXPtHXfa2ODz6KVIqwFidoerH0VvEY");
     background-repeat: no-repeat;
     background-size: 1350px;
     background-size: cover;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 18px;
    text-align: center;
}

.clock{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.clock div{
    margin: 5px;
}

.clock span{
    width: 100px;
    height: 80px;
    background: rgb(151, 59, 255);
    opacity: .8;
    color:azure;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px rgb(0, 0, 0, 0.3);    
}

.clock .text{
    height: 30px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: rgb(74, 0, 158);
    opacity: 0.8;
}

.clock #ampm{
    position: absolute;
    width: 60px;
    height: 30px;
    font-size: 20px;
    background: rgb(221, 128, 125);
}